.div{
    text-align:center;
    /* margin: 0;
    padding:20px; */
    /* height: 300px;
    width: 500px; */
    position: absolute;
    top: 30%;
    left:25%;
  align-items: center;
  background-color: darkgray;
    color:darkred;
    /* border-style: double; */
   font-weight: bold;
}
h1{
    background-color: aliceblue;
    color: darkgoldenrod;
}
button{
    height: 30px;
    width: 100px;
}
header {
    background-color: cadetblue;
    color: #000;
}

.site-header {
    border-bottom: 1px solid rgba(204, 204, 204, 0);
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
}
body{
    background-image: url("https://www.pngkey.com/png/full/428-4282931_uber-for-food-delivery-food-delivery.png");
    background-repeat: no-repeat;
}